/* TEXT COLORS */

html{
	background-color: #777777;
}

body{
	color: #000000;
}

*:first-child+html .movie-background { min-width: 100%; }

.form-input-field{
	color: #000000;
}

a {
	color: #8BA649;
}

a:hover {
	color: #8BA649;
}

h1, h2, h3, h4, h5, h6, 
.blog-entry-title a, 
.blog-entry-date, 
.blog-entry-title a:hover, 
.album-title, 
.movie-page-title {
	color: #284763;
}

header h1 {
	color: #FFFFFF;
}

header h1 span {
	color: #FFFFFF;
}

h2#aside,
nav>ul>li,
 #blog-rss-feeds:before, 
 ul.blog-tag-cloud:before, 
 #blog-archives:before, 
 #blog-categories:before {
	color: #6F9B68;
}

blockquote, code {
	background: #EEEEEE;
	color: #000000;
}

aside{
	color:#FFFFFF;
}

aside a{
	color:#FFFFFF;
}

aside a:hover{
	color:#FFFFFF;
}

nav>ul>li a,
.blog-rss-link, 
ul.blog-tag-cloud a {
	color: #FFFFFF;
}

nav>ul>li a:hover, 
.photo-links a:hover {
	color: #FFFFFF;
}

nav>ul>li a.current, 
nav>ul>li a.currentAncestor {
	color: #FFFFFF;
}

nav>ul>li li a {
	color: #BBBBBB;
}

nav>ul>li li a:hover {
	color: #FFFFFF;
}

nav>ul>li li a.currentAncestor,
nav>ul>li li a.current:hover, 
nav>ul>li li a.currentAncestor:hover {
	color: #FFFFFF;
}

footer {
	color: #AAAAAA;
}

footer a {
	color: #444444;
}