# systemd init script, first version.
# The environment variables must be initialized in a script or EnvironmentFile, as there is no variable expansion in systemd.
# Check at the end of https://wiki.ubuntu.com/SystemdForUpstartUsers for more information on how they may work...
# For log, check https://www.freedesktop.org/software/systemd/man/systemd.exec.html# StandardOutput and StandardError options...
[Unit]
Description=Nirva server

[Service]
Type=forking
User=nirva
Group=nirva
Environment="NIRVA=/home/nirva/bin/nirva"
Environment="LD_LIBRARY_PATH=/home/nirva/bin/nirva/Bin"
#Environment=LANG=fr_FR.UTF-8
PIDFile=/home/nirva/bin/nirva/Bin/nirva.run
ExecStart=/home/nirva/bin/nirva/Bin/nvsLogs
TimeoutStartSec=infinity
TimeoutStopSec=180

[Install]
WantedBy=multi-user.target
