################################
## OVH SNAPSHOT BACKUP CONFIG ##
################################

# Optional system user to run backups as.  If the user the script is running as doesn't match this
# the script terminates.  Leave blank to skip check.
BACKUP_USER=

# This dir will be created if it doesn't exist.  This must be writable by the user the script is
# running as.
#BACKUP_DIR=/home/backups/database/postgresql/
BACKUP_DIR=
 
# This property contains the tables to lock on the database
LOCK_TABLES=

# Name of the database to lock
LOCK_DATABASE=

# Path to the ovh api client. Defaults to the ovh-api-bash-client.sh script in the same folder as the current script.
OVH_CLIENT=

# List of NAS and partitions to snapshot.
# The NAS are space or comma separated.
# The NAS name is followed by a colon separator, then followed by the list partitions of the NAS to 
# snapshot separated by the '/' separator. 
# For example: zpool-123:part1/part2,zpool-456:partition1/partition3
# Other example: "zpool-123:part1/part2 zpool-456:partition1/partition3"
NAS_PARTITION_LIST=

# Hostname of the server hosting the database.
HOSTNAME=
 
# Optional username to connect to database as.  Will default to "postgres" if none specified.
USERNAME=
 
# List of strings to match against in database name, separated by space or comma, for which we only
# wish to keep a backup of the schema, not the data. Any database names which contain any of these
# values will be considered candidates. (e.g. "system_log" will match "dev_system_log_2010-01")
SCHEMA_ONLY_LIST=""
 
# Will produce a custom-format backup if set to "yes"
ENABLE_CUSTOM_BACKUPS=no
 
# Will produce a gzipped plain-format backup if set to "yes"
ENABLE_PLAIN_BACKUPS=yes
 
 
#### SETTINGS FOR ROTATED BACKUPS ####
 
# Which day to take the weekly backup from (1-7 = Monday-Sunday)
DAY_OF_WEEK_TO_KEEP=5
 
# Number of days to keep daily backups
DAYS_TO_KEEP=7
 
# How many weeks to keep weekly backups
WEEKS_TO_KEEP=5
 
######################################